<li class="full-width">
  <span class="top-heading">Mục khác</span>
  <i class="caret"></i>           
  <div class="dropdown right-aligned">
    <div class="dd-inner">
      <div class="column">
        <h4>Phật giáo</h4>
          <%= link_to "Phật giáo Việt nam", "#" %>
          <%= link_to "Phật giáo quốc tế", "#" %>
        </div>
        <div class="column">
          <h4>Lời ngỏ </h4>
           <%= link_to "Lời ngỏ", root_path %>
           <%= link_to "Góp ý", root_path %>
        </div>
        <div class="column">
          <h4>Lịch sử </h4>
           <%= link_to "Lịch sử phật giáo Việt nam", root_path %>
           <%= link_to "Lịch sử phật giáo quốc tế", root_path %>
        </div>
        <div class="column">
          <h4>Văn hóa </h4>
           <%= link_to "Nghi lễ", root_path %>
           <%= link_to "Ăn chay", root_path %>
        </div>
        <div class="column">
          <h4>Văn học </h4>
           <%= link_to "Văn học", root_path %>
           <%= link_to "Thơ ca", root_path %>
        </div>
        <div class="column">
          <h4>Nghệ thuật </h4>
           <%= link_to "Nghệ thuật", root_path %>
           <%= link_to "Thư pháp", root_path %>
        </div>
    </div>
  </div>
</li>